$TTL 1W
@       IN      SOA     kube.cluster.       root (
                        2023100100      ; serial
                        3H              ; refresh (3 hours)
                        30M             ; retry (30 minutes)
                        2W              ; expiry (2 weeks)
                        1W )            ; minimum (1 week)
;
;
                        IN      NS      ns1.kube.cluster.
ns1                     IN      A       {{ ansible_host }}

;KubeNode DNS Entries
{% for host in groups['kubenodes'] %}
{{hostvars[host].ansible_facts['hostname']}}    IN    A    {{ hostvars[host].ansible_facts['default_ipv4']['address'] }}
{% endfor %}
;
;LoadBalancer DNS Entries
lb    IN    A    {{ ansible_host }}
;
;EOF